.btn {
  width: 90px;
  text-decoration: none;
  display: inline-block;
  /* padding: 10px 30px; */
  /* margin: 0 20px; */
  position: relative;
  overflow: hidden;
  border: 2px solid #089dcb;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #089dcb;
  transition: 0.2s ease-in-out;
}
.btn:before {
  content: '';
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.5)
  );
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}
.btn:hover {
  cursor: pointer;
  background: #089dcb;
  color: #fff;
}
.btn:hover:before {
  left: 150px;
  transition: 0.5s ease-in-out;
}

.form {
  display: flex;
  height: 40px;
}
