.list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
}
.movie {
    display: flex;
  flex-direction: column;
  width: 280px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

  overflow: hidden;

  text-decoration: none;
  list-style: none;
  font: bold 20px Arial, sans-serif;
  color: #089dcb;
  text-shadow: 2px 2px 1px #f5eded, -1px -1px 0 #0ff;
}

.img{
   height: 420px;
}


.movie:hover,
.movie:focus {
  transform: scale(1.03);
   color: #17fa02;
}